@import "./global.css";
@import "./fonts.css";
@import "./utils.css";

.test {
    color: yellow !important;
}

.test {
    color: red !important;
}

.paragraph{
    font-size: 16px;
    line-height: 26px;
    color: #1F3F68;
}
.h1{
    font-size: 64px;
    color: #1F3F68;
    font-family: 'Genshin_Impact';
}
.h2{
    font-weight: 500;
    font-size: 44px;
    text-align: center;
}
.h3{
    font-size: 36px;
    text-align: center;
}
.h4{
    font-size: 20px;
    line-height: 30px;
    color: #1F3F68;
}
.input{
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;
}
.button{
    background: linear-gradient(to right, rgb(63, 88, 170), rgb(122, 97, 223));
    border-style: none;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
}
.breadcrumb{
    list-style: none;
    background: linear-gradient(rgb(255, 255, 255), rgb(85, 124, 120));
} 
.breadcrumb li{
    font-size: 30px;
    display: inline;
    padding-right: 10px;
    margin-left: 10px;
    border-right: 5px solid white;    
    border-radius: 0px 30px 30px 0px;
    box-shadow: 3px 0px black;
    font-family:'onest';
}